.announce-container {
    width: calc(100% - 470px);
    height: calc(100% - 45px);
    margin-left: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: flex-start;*/
    /*padding-top: 10px;*/
    position: absolute;
    overflow-y:auto;
    overflow-x: hidden;
    padding-top: 30px;
    padding-bottom: 30px;
}

.announce-card {
    width: 40%;
    min-width: 300px;
    margin-top: 15px;
    margin-bottom: 15px;
    background: #f5f8fa;
    padding-bottom: 10px;
}

.announce-card-header {
    border-bottom: 1px solid #d9e0e5;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

