@import "../node_modules/normalize.css/normalize.css";
@import "../node_modules/@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "../node_modules/@blueprintjs/core/lib/css/blueprint.css";
@import "views/styles/table.css";
@import "views/styles/blueprint-datetime.css";

.App {
    text-align: center;
    overflow-x: hidden;
    color: #10161A;
}

.disable-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button-menu Button {
    height: 40px;
    /*overflow: hidden;*/
    /*text-decoration: none;*/
    text-transform: uppercase;
    letter-spacing: 1px;
    color: dimgrey;
    font-size: 14px;
    float: right;
}

.bp3-timepicker{
    white-space:nowrap; }
