@import "../node_modules/normalize.css/normalize.css";
@import "../node_modules/@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "../node_modules/@blueprintjs/core/lib/css/blueprint.css";
@import "views/styles/table.css";
@import "views/styles/blueprint-datetime.css";
@import "components/day-picker/modifiersDayPicker.css";

.App {
    text-align: center;
    overflow: hidden;
    color: #10161A;
}

.disable-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.overlay {
    width: 300px;
    height: 500px;
    max-height: 100vh;
    position: fixed;
    background: #27446a;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    bottom: 0;
    margin-bottom: -65px;
    box-shadow: 0 0 7px 0 #10161A;
    animation: slide-up .8s cubic-bezier(.7, -.41, .19, 1.25);
}

.slide-up-animation {
    bottom: 0;
    margin-bottom: -65px;
    animation: slide-up .8s cubic-bezier(.7, -.41, .19, 1.25);
}

.slide-down-animation {
    bottom: 0;
    margin-bottom: -65px;
    animation: slide-down .8s cubic-bezier(.7,-.41,.19,1.25);
}


@keyframes slide-up {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slide-down {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100%);
    }
}

.button-menu Button {
    height: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: dimgrey;
    font-size: 14px;
    float: right;
}

.newsImage {
    display: inline-block;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center 50%;
    width: 100%;
    height: 250px;
    vertical-align: middle;
}

*:focus {
    outline: none;
}

.bp3-timepicker{
    white-space:nowrap;
}
